In [1]:
import pandas as pd
import numpy as np

In [6]:
before = np.array([1,2,3,4,5,6])

after = before.reshape(2,3)
after

array([[1, 2, 3],
       [4, 5, 6]])

In [7]:
after_reshape = after.transpose()
after_reshape

array([[1, 4],
       [2, 5],
       [3, 6]])

In [9]:
!pip install --upgrade pandas # 버전 업데이트하기
pd.__version__
# 판다스 cheatsheet 공부

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 64.0 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.4.4
    Uninstalling pandas-1.4.4:
      Successfully uninstalled pandas-1.4.4
Successfully installed pandas-1.5.3

'1.4.4'

In [14]:
!pip install pydataset #매번 설치 필요
from pydataset import data #데이터셋 패키지
data('Housing', show_doc=True) #Housing 데이터 설명
house = data('Housing') #Housing 데이터를 house에 할당

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 34.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pydataset) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pydataset) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas->pydataset) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939433 sha256=4a99f87e08205f00c151ce7430d2569c5433006fdb28f9f9539ea6e919ddfede
  Stored in directory: /root/.cache/pip/wheels/6b/86/a7/f71cb84c7bff804d83e293615a20c0531234397b796aee2645
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
initiated datasets repo at: /root/.pydataset/
Housing

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Sales Prices of Houses in the City of Windsor

### Description

a cross-section from 1987

_number of observations_ : 546

_observation_ : goods

_country_ : Canada

### Usage

    data(Housing)

### Format

A dataframe containing :

price

sale price of a house

lotsize

the lot size of a property in square feet

bedrooms

number of bedrooms

bathrms

number of full bathrooms

stories

number of stories excluding basement

driveway

does the house has a driveway ?

recroom

does the house has a recreational room ?

fullbase

does the house has a full finished basement ?

gashw

does the house uses gas for hot water heating ?

airco

does the house has central air conditioning ?

garagepl

number of garage places

prefarea

is the house located in the preferred neighbourhood of the city ?

### Source

Anglin, P.M. and R. Gencay (1996) “Semiparametric estimation of a hedonic
price function”, _Journal of Applied Econometrics_, **11(6)**, 633-648.

### References

Verbeek, Marno (2004) _A guide to modern econometrics_, John Wiley and Sons,
http://www.econ.kuleuven.ac.be/GME, chapter 3.

Journal of Applied Econometrics data archive : http://jae.wiley.com/jae/.

### See Also

`Index.Source`, `Index.Economics`, `Index.Econometrics`, `Index.Observations`

In [11]:
# 딕셔너리를 데이터 프레임으로 만드는 코드
# df = pd.DataFrame(dict)
# -> key : 칼럼 value : 행, index 는 list 형태로 따로 지정해줘야함

In [12]:
# 칼럼을 로우로 # 피벗을 푼다
# pd.melt(df)

In [13]:
# 칼럼 중심으로 데이터프레임 합치기 
# pd.concat([df1,df2])

In [15]:
# 피벗테이블

house.pivot_table(columns=['bedrooms'], aggfunc='size') 

#특정 칼럼내 값 개수

bedrooms
1      2
2    136
3    301
4     95
5     10
6      2
dtype: int64

In [16]:
house.columns

Index(['price', 'lotsize', 'bedrooms', 'bathrms', 'stories', 'driveway',
       'recroom', 'fullbase', 'gashw', 'airco', 'garagepl', 'prefarea'],
      dtype='object')

In [21]:
house.loc[:,'price':'bedrooms']
# 끝 값 포함 -> 이상, 이하

        price  lotsize  bedrooms
1     42000.0     5850         3
2     38500.0     4000         2
3     49500.0     3060         3
4     60500.0     6650         3
5     61000.0     6360         2
..        ...      ...       ...
542   91500.0     4800         3
543   94000.0     6000         3
544  103000.0     6000         3
545  105000.0     6000         3
546  105000.0     6000         3

[546 rows x 3 columns]

In [20]:
house.iloc[:,0:2]
# 끝값 미포함 -> 이상, 미만

        price  lotsize
1     42000.0     5850
2     38500.0     4000
3     49500.0     3060
4     60500.0     6650
5     61000.0     6360
..        ...      ...
542   91500.0     4800
543   94000.0     6000
544  103000.0     6000
545  105000.0     6000
546  105000.0     6000

[546 rows x 2 columns]

In [24]:
pd.isna(house)

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
542,False,False,False,False,False,False,False,False,False,False,False,False
543,False,False,False,False,False,False,False,False,False,False,False,False
544,False,False,False,False,False,False,False,False,False,False,False,False
545,False,False,False,False,False,False,False,False,False,False,False,False
546,False,False,False,False,False,False,False,False,False,False,False,False

In [26]:
house.dtypes # 타입 보기

price       float64
lotsize       int64
bedrooms      int64
bathrms       int64
stories       int64
driveway     object
recroom      object
fullbase     object
gashw        object
airco        object
garagepl      int64
prefarea     object
dtype: object

In [27]:
house.info() # null 값 보기 좋다

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 1 to 546
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   price     546 non-null    float64
 1   lotsize   546 non-null    int64
 2   bedrooms  546 non-null    int64
 3   bathrms   546 non-null    int64
 4   stories   546 non-null    int64
 5   driveway  546 non-null    object
 6   recroom   546 non-null    object
 7   fullbase  546 non-null    object
 8   gashw     546 non-null    object
 9   airco     546 non-null    object
 10  garagepl  546 non-null    int64
 11  prefarea  546 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 55.5+ KB

In [28]:
house['bedrooms'].value_counts()

3    301
2    136
4     95
5     10
1      2
6      2
Name: bedrooms, dtype: int64

In [30]:
# 그룹화
# mean, max, sum, 등등
house.groupby("recroom").mean()
house.groupby(["recroom","driveway"]).sum()

                       price  lotsize  bedrooms  bathrms  stories  garagepl
recroom driveway
no      no         3339295.0   254213       211       84      108        17
        yes       25827797.0  1994819      1108      480      696       287
yes     no          399500.0    23483        19       11       11         3
        yes        7627800.0   539530       281      127      172        71